* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}



@font-face {
  font-family: 'MiFuente';
  src: url('../fonts/Amalfi\ Coast.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MiFuente2';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html::-webkit-scrollbar {
  -webkit-appearance: none;
}
.corp{
  font-family: 'MiFuente';
  color: #016293;
}
.veneto{
  color: #1b267d;
  font-family: 'MiFuente2';
  font-weight: 600;
}
html::-webkit-scrollbar:vertical {
  width: 5px;
}

html::-webkit-scrollbar-button:increment, html::-webkit-scrollbar-button {
  display: none;
}

html::-webkit-scrollbar:horizontal {
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 20px;
  border: 1px solid #13bfff;
}

html::-webkit-scrollbar-track {
  border-radius: 10px;
}

:root {
  --text-color: #000;
  --bg-color: #ffffff;
  --second-bg-color: rgba(223,238,255,0.54);
  --main-color: #13bfff;
  --other-color: #0062ff;
  --h1-font: 4.5rem;
  --h2-font: 2.9rem;
  --p-font: 1rem;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  background: #00000000;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 16%;
  background: white;
  transition: all .50s ease;
}

.logo {
  font-size: 36px;
  color: var(--text-color);
  font-weight: 600;
}

span {
  color: var(--main-color);
}

.navlist {
  display: flex;
}

.navlist a {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--other-color);
  margin-left: 40px;
  transition: all .50s ease;
}

.navlist a:hover {
  border-bottom: 2px solid #62d5ff;
}

#menu-icon {
  font-size: 35px;
  z-index: 10001;
  display: none;
  cursor: pointer;
}

.h-btn {
  display: inline-block;
  padding: 11px 26px;
  background: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 15px;
  font-weight: 600;
  transition: all .50s ease;
}

.main-btn {
  display: flex;
  gap: 10px;
}

.h-btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 10px var(--main-color);
  transform: scale(1.1);
}

.logo {
width: 19%;}

.logo-nav {
  width: 100%;
}

section {
  padding: 110px 16% 90px;
}

.hero {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-content h4 {
  font-size: 1.6rem;
}

.main-content h1 {
  font-size: var(--h1-font);
  font-weight: 900;
  margin: 20px 0px 20px;
  line-height: 1.2;
}

.main-content p {
  font-size: 1.15rem;
  font-weight: 600;
  width: 620px;
  max-width: 100%;
  color: var(--other-color);
  line-height: 30px;
  margin-bottom: 15px;
}

.social {
  margin-bottom: 40px;
}

.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 40px;
  color: var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  margin-right: 17px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: all .50s ease;
}

.social i:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--main-color);
}

.sports1 {
  right: -0.5%;
}

.whitemark2 {
  top: 4rem;
  left: 1%;
}

.img-div {
  display: flex;
}
.btn {
  display: inline-block;
  padding: 11px 26px;
  background: var(--main-color);
  color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
}

.btn2 {
  background: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  transition: all .50s ease;
}

.btn2:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

header.sticky {
  background: var(--bg-color);
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
  padding: 16px 16%;
}

.about {
  background: var(--second-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.about-img img {
  width: 90%;
  height: 400px;
  max-width: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1.3;
  margin-bottom: 20px;
}

.exp-area {
  margin-bottom: 50px;
}

.exp-area p {
  color: var(--text-color);
  font-weight: 600;
  font-size: 19px;
  line-height: 42px;
}

.exp-area p span {
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 400;
  margin-left: 8px;
}

.center-text {
  text-align: center;
}

.center-text h2 {
  font-size: var(--h2-font);
}

.deportes-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.3rem;
  margin-top: 2.2rem;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.3rem;
  margin-top: 4.2rem;
}

.services-img {
  width: 50px;
  margin-bottom: 20px;
}

.box {
  padding: 80px 40px 66px;
  background: #ffffff;
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px var(--main-color);
  transition: all .50s ease;
  cursor: pointer;
  height: 100%;
}

.box h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.box p {
  font-size: var(--p-font);
  font-weight: 400;
  color: #1b257f;
  margin-bottom: 20px;
}

.box a {
  display: inline-block;
  font-size: 17px;
  line-height: 1.273em;
  font-weight: 700;
  padding: 7px 0;
  color: var(--text-color);
  border-bottom: 2px solid #5d6c83;
  transition: all .50s ease;
}

.box i {
  vertical-align: middle;
  font-size: 25px;
  color: var(--main-color);
  margin-left: 5px;
}

.box a:hover {
  border-bottom: 2px solid var(--main-color);
}

.box:hover {
  border: 1px solid var(--main-color);
  transform: translateY(-5px) scale(1.05);
}

.products {
  background: var(--second-bg-color);
}

.products-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.3rem;
  margin-top: 4.2rem;
}

.row img {
  width: 100%;
  border-radius: 28px;
  margin-bottom: 1.4rem;
  box-shadow: 0 0 5px var(--main-color);
  margin-left: -0.6rem;
}
.title-design{
  display: flex
  ;
      flex-direction: column;
      align-items: center;
}
.branding-tipes{
  display: flex
  ;
      flex-direction: column;
      justify-content: center;
}
.row {
  border-radius: 28px;
  border: 1px solid transparent;
  padding: 20px 20px 0px 20px;
  transition: all .50s ease;
}

.main-row {
  display: flex;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  flex-direction: column;
}

.row h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--other-color);
}

.row i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  font-size: 17px;
  border-radius: 50%;
  color: var(--text-color);
  background: #075fe4;
}

.row h4 {
  font-size: 23px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.row:hover {
  transform: translateY(-5px) scale(1.03);
  cursor: pointer;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.2rem;
}
.info-designs{
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 700;
}
.contact-form form {
  position: relative;
  width: 600px;
}

form textarea {
  height: 150px;
}
.branding-corpse{
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
form input, form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px var(--main-color);
  background: #ffffff;
  color: var(--text-color);
  margin-bottom: 20px;
  border-radius: 6px;
}

form input::placeholder, form textarea::placeholder {
  color: rgb(102,102,102);
  font-size: 15px;
}
.title-brand{
  font-weight:600;
}
.parraftitle{
  font-size: 20px;
}
form .send-btn {
  padding: 11px 26px;
  background: var(--main-color);
  color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
  width: auto;
}

form .send-btn:hover {
  background: transparent;
  color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
  cursor: pointer;
}

.footer {
  padding: 22px 16%;
  background: var(--other-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.navlist{margin-bottom: 0px !important;}

.copyright p {
  font-size: 15px;
  font-weight: 400;
  color: var(--bg-color);
}
.logo-mobile{
  display: none;
}
.scroll-top i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: black;
  font-size: 20px;
}
.php-img{
  width: 75%;
}
.react-img{
  width: 42%;
}
.css-img{
  width: 43%;
}
.js-img{
  width: 32%;
}
.html-img{
  width: 40%;
}
.deportes-p{
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: -20px;
}
@media (max-width:1700px) {
  header {
    padding: 20px 8%;
  }
  header.sticky {
    padding: 14px 8%;
  }
  section {
    padding:70px 8% 80px;
  }
  .footer {
    padding: 18px 8%;
  }
  .logo {
    font-size: 28px;
  }
}
.center-qr{
  margin-top: 6px;
  display: flex;
  justify-content: center;
  scale: 0.8;
}
.video-vgc {
  border-radius: 8px;
  width: 100%;
}

.about-video{
  padding: 3px;
  border-radius: 11px;
  display: flex;
  width: 85%;
  position: relative;
  box-shadow: 0 0 5px 2px var(--main-color);
  justify-content: center;
  bottom: 6%;

}
@media (max-width:1380px) {
  header {
    padding: 0px 5%
  }
  header.sticky {
    padding: 0px 5%;
  }
  section {
    padding: 120px 5% 80px;
  }
  .footer {
    padding: 18px 5%;
  }
  .hero {
    height: 100vh;
    background-position: right;
  }
}


@media (max-width:1290px) {
  .box {
    padding: 40px 40px 46px;
  }
  .box img {
    width: 100%;
    height: 60px;
    max-width: 60px;
  }
  .box h3 {
    font-size: 21px;
  }
}


@media (max-width:1240px) {
  .about {
    grid-template-columns: 1fr;
    grid-area: 2rem;
    text-align: center;
  }
  .about-img img {
    text-align: center;
    width: 100%;
    height: 400px;
    max-width: 400px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
  }
  :root {
    --h1-font: 4rem;
    --h2-font: 2rem;
    --p-font: 15px;
  }
}


@media (max-width:950px) {
  header {
    background: white;
  }
  :root {
    --h1-font: 3.5rem;
  }
  #menu-icon {
    display: block;
  }
  .social {
    margin-bottom: 20px;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    background-color: var(--bg-color);
    transition: all .50s ease;
    flex-direction: column;
  }
}

@media (max-width:950px) {
  .navlist a {
    display: block;
    padding: 17px;
    font-size: 17px;
  }
  .navlist.active {
    right: 0;
  }
}
@media (max-width:768px){
  .about{
    
    justify-items: center;
  }
  .white-mark, .sell-point, .whitemark2, .sports1 {
    border-radius: 6%;
    border: 5px solid #0085ff;
    width: 50%;
    position: relative;
}
.white-mark {
  left: 41%;
  top: -1rem;
}
.sports1 {
  right: -5%;
  top: 0rem;
}
.whitemark2 {
  top: 1rem;
  left: 40%;
}
.sell-point {
  right: -2%;
  top: 2rem;
}
.img-div {
  flex-direction: column;
}
}

@media (max-width:680px) {
  .main-content p {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width:470px) {
  .about {
    grid-template-columns: 1fr;
    grid-area: 2rem;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
  :root {
    --h1-font: 2rem;
    --h2-font: 1.5rem;
  }
  .about-img img {
    text-align: center;
    width: 100%;
    height: 300px;
    max-width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
  }
}


.marcador {
  font-size: 23px;
  position: relative;
  top: 2px;
}

#deportesline {
  background: var(--second-bg-color);
}

.white-mark, .sell-point, .sports1, .whitemark2 {
  border-radius: 6%;
  border: 5px solid #0085ff;
  position: relative;
}

.deportes-img {
  display: flex;
  align-items: center;
  margin-top: 4%;
  justify-content: space-around;
}
.products-description{
  display: flex;
}
.products-description div {
  width: 90%;
  gap: 12px;
  display: flex
;
  flex-direction: column;
  justify-content: center;
}
.hero-products {
  height: 70vh;
  margin-top: 5rem;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-bottom: 2px solid;
  align-items: center;
}
.image-container{
  display: flex;
  justify-content: center;
}
.img-container{
  display: flex;
}
.main-img-products{
  width: 70%;
    margin: auto;
}

.alt1{
  padding: 0px 20px;
  width: 70%;
}

.hosting-individual{
  text-align: center;
}
.sell-point {
  right: -2%;
}

.white-mark {
  top: 3rem;
  left: 0%;
}

.retail-img {
  display: flex;
  justify-content: center;
}

.slider-row.client-slider {
  border: none;
  box-shadow: none;
}

.providers-section {
  padding: 1px;
  background: var(--other-color);
}
.principal-link:hover{
  color: var(--main-color);
  scale: 1.1;
}
.principal-link{
  transition: all .50s ease;
  border-radius: 8px;

}
.services-name {
  font-size: 1.5rem;
}

.providers {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: 7px;
}

.slide-carousel {
  transition: 1s ease-in-out;
}

.app-products{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid;
  align-items: center;
}

.principal-app-description{
  text-align: center;
}

.titulo-app{
  text-align: center;
}


.products-description-app  {
  display: flex;
  justify-content: center;
}
a {
  display: flex;
  justify-content: center;
}
.footer-img {
  width: 64%;
}

.charts-explication{
  display: flex;
  gap: 5rem;
}

.instrucciones strong{
  color: #0a8df3;

}
.principal-text span{
  color: #309fff;
  font-weight: 500;
  font-size: 17px;
}

.text-info-alt{
  color: #000;
}
.products-description-app{
  gap: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider .payment-info-mobile {
  display: flex;
  gap: 35px;
  width: calc(200px * 18); /* Duplica la cantidad de elementos */
  animation: scroll 40s linear infinite ;
}
.slider{
  overflow-x: hidden;
}
.title-web {
  font-size: 28px;
}
.content-info{
  font-size: 17px;
  width: 80%;
}
.principal-content{
  display: flex
;
    justify-content: center;
}
.content-info span {
  color: #00256a;
}
body{
  overflow-x: hidden;
}
@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-200px * 5)); /* Desplaza solo la mitad del contenido */
  }
}

@media (max-width:768px){
  .payment-info-mobile {
    margin-top: 1rem;
    gap: 3%;
    display: flex;
    justify-content: center;
}
}

.firefly {
  height: 250px;
  z-index: 1;
  width: 250px;
  border-radius: 50%;
  position: fixed;
  filter: blur(90px);
  animation: moveFirefly 60s linear infinite, changeColor 40s infinite;
}

@keyframes moveFirefly {
  0% {
    transform: translate(-50px, -50px);
  }
  14.29% {
    transform: translate(calc(120vw - 10px), calc(20vh - 10px));
  }
  28.57% {
    transform: translate(calc(0vw - 50vw), calc(70vh - 10px));
  }
  42.86% {
    transform: translate(calc(20vw - 10px), calc(0vh - 30vh));
  }
  57.14% {
    transform: translate(calc(80vw - 10px), calc(120vh - 10px));
  }
  71.43% {
    transform: translate(calc(60vw - 10px), calc(20vh - 10px));
  }
  85.71% {
    transform: translate(calc(40vw - 10px), calc(60vh - 10px));
  }
  100% {
    transform: translate(calc(120vw - 10px), calc(80vh - 10px));
  }
}

@keyframes changeColor {
  0%, 100% {
    background-color: #00ccff8a;
  }
  14.29% {
    background-color: #ff00008a;
  }
  28.57% {
    background-color: #00ff008a;
  }
  42.86% {
    background-color: #0000ff8a;
  }
  57.14% {
    background-color: #3700ff8a;
  }
  71.43% {
    background-color: #00f7ff8a;
  }
  85.71% {
    background-color: #00ccff8a;
  }
}


.product-div {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.products-design-alt {
  display: flex
;
  margin-top: 5%;
}
.cards-container{
  display: flex;
  justify-content: center;
}

.product-div p {
  margin: 0px;
  text-indent: 17px;
}

.products-selection{
  display: flex;
  gap: 21px;
  flex-direction: column;
  align-items: center;
}
.contact-cell {
  display: none;
}
.Navbar-mini{
  display: none;
}
.titulo{
  text-align: center;
  font-size: 1.1rem;
}

.texto-card{
  text-align: center;
}

.title-favor{
  margin-bottom: 2rem;
  text-align: center;
}

.icons-new i{
  font-size: 6rem;
  margin: 10px;
}
.alt{
  width: 90%;
  height: auto;
}

.see-text{
  display: none;
}

.see-text:hover{
  display: block;
}
.cards-products{
  display: flex;
  gap: 70px;
}
.card-img-top{
  width: 90%;
  border-radius: 12px;
  margin: 15px auto;
}
.containercards{
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.row-prov {
  justify-content: center;
  display: flex;
}

.slider-row.client-slider {
  padding: 2px;
}
.btn-barss{
  font-size: 21px;
  padding: 2px 15px;
}
.retail-img {
  width: 90%;
}
.Navbar-mini .drop, .Navbar-mini .sub-options {
  display: none;
}

.Navbar-mini .drop.show, .Navbar-mini .sub-options.show {
  display: block;
}
.mini-menubody{
  position: absolute;
  left: 5%;
  box-shadow: -5px 5px 9px 0px black;
  width: 217px;
  top: 94%;
  background: linear-gradient(90deg, #ffffff 61%, #8ecfff47);
  border-radius: 10px;
  padding: 10px;
}
.product-individual{
  text-align: center;
}
.alt {
  gap: 10px;
  display: flex
;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.products-selection .alt{
    gap: 10px;
    display: flex
;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.description{
  font-size: 26px;
}
.imagenes-productos{
  width: 20%;
}
.point-sub{
  font-size: 8px;
  margin: 2px 3px;
  padding-top: 7px;
}
.optionsMobile{
  margin: 2px 10px;
}
.icons-new{
  font-size: 4rem;
  text-align: center;
}
.mini-menubody li a{
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
}
@keyframes rotateHorizontal {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
}


@media (max-width:768px){
  .Navbar-mini {
    display: block;
}
  .logo-mobile{
    display: block;
  }
  .products-description-app {
    gap: 17px;
    display: flex
;
    flex-direction: column;
    align-items: center;
}
  .logo-desktop{
    display: none;
  }
  .charts-explication {
    display: flex
;
    gap: 4rem;
    flex-direction: column;
}
  .logo-nav {
    width: 40%;
}
.products-design-alt {
  display: flex
;
  gap: 16px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.productos-titulo{
  height: 13rem;
}
.info-designs {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
}
.php-img {
  width: 53%;
}
.branding-corpse {
  display: flex
;
  margin-top: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.branding-text{
  text-align: center;

}
.parrafo-brandings{
  font-size: 15px;
  font-weight: 500;
}
.title-brand {
  font-weight: 600;
  font-size: 18px;
}
.main-img-products {
  width: 80%;
  margin: auto;
}
.parraftitle {
  font-size: 20px;
  text-align: center;
}
.alt {
  gap: 10px;
  display: flex
;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  header {
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.logo{
  justify-content: flex-end;
}
.imagenes-productos{
  width: 20%;
}
  .nav-mobile{
    display: none;
  }
  .principal-text span {
    color: #309fff;
    font-weight: 600;
    font-size: 14px;
}
.hero-products {
  background-repeat: no-repeat;
  display: flex
;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  border-bottom: 2px solid;
  align-items: center;
}
.principal-text {
  padding: 0px 20px;
  width: 100%;
}
  .cards-products {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.containercards {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.products-description div {
  width: 100%;
  text-align: center;
}
.products-description {
  display: flex
;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
  .about{
    
    justify-items: center;
  }
  .white-mark, .sell-point, .whitemark2, .sports1 {
    border-radius: 6%;
    border: 5px solid #0085ff;
    width: 50%;
    position: relative;
}
.white-mark {
  left: 41%;
  top: -1rem;
}
.sports1 {
  right: -5%;
  top: 0rem;
}
.principal-text div {
  width: 100%;
  text-align: center;

}
.hosting-individual{
  text-align: center;
}
.whitemark2 {
  top: 1rem;
  left: 40%;
}
.sell-point {
  right: -2%;
  top: 2rem;
}
.img-div {
  flex-direction: column;
}
}
@media (max-width: 500px) {
  .white-mark, .sell-point, .whitemark2, .sports1 {
    border-radius: 6%;
    border: 5px solid #0085ff;
    width: 50%;
    position: relative;
  }
  .contact-cell {
    display: block;
  }
  .white-mark {
    left: 41%;
    top: -1rem;
  }
  .sell-point {
    right: -2%;
    top: 2rem;
  }
  .logo-nav {
    width: 50%;
  }
  .hero {
    background: transparent;
    margin-top: -2rem;
    margin-bottom: 8rem;
  }
  .main-content {
    margin-top: 190px;
  }
  .main-content h4 {
    font-size: 1rem;
  }
  .logo {
    width: 40%;
  }
}

.instrucciones{
  width: 246px;
  border: none;
  background-color: transparent;
  color: black;
  text-align: center;
  font-weight: 600;
}



.main-content img {
  width: 65%;
}

.logo-main {
  animation: rotateHorizontal 30s linear infinite;
}

.main-content.logo-main {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main-content.logo-main {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.proyects-col {
  padding: 0px;
  height: auto;
}

@media (max-width: 576px) {
  .menu-drop{
    padding: 10px;
  }
  .h-btn {
    display: none;
}
  .proyects-col {
    padding: 0px;
    height: auto;
    display: flex;
    justify-content: center;
}
  .row img {
    width: auto;
}
  .img-div {
    flex-direction: column;
  }
  .sports1 {
    right: -5%;
    top: 0rem;
  }
  .whitemark2 {
    top: 1rem;
    left: 40%;
  }
  .dropdown-toggle::after {
    display: none;
}
  #menu-icon{
    display: none;
  }
  .menu-drop li{
    padding: 2px;
  }
  .bx-menu{
    padding: 7px 9px;
    font-size: 25px;
  }
}
@media (min-width:1024px){
  .about-video{
    left: 5%;
  }
}
@media (min-width:600px){
  .dropdown{
    display: none;
  }
}


.container-bar{
	width: 100%;
	max-width: 50px;
  display: none;
	position: fixed;
	right: 0;
	top: 50%;
    z-index: 100;
}
.container-bar a{
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	transition: all 500ms ease;
	color: #fff;
}
.container-bar a:hover{
	background: #1c1c1c;
}
.container-bar .fa-linkedin{
	background: #006aff;
	border-radius: 5px 0px 0px 0px;
}
.container-bar .fa-facebook{
	background: #00409a;
	border-radius: 0px 0px 0px 0px;
}
.container-bar .fa-instagram{
	background: linear-gradient(45deg, #405DE6, #FD1D1D, #FED373);
}
.container-bar .fa-twitter{
	background: #00acee;
    border-radius: 0px 0px 0px 5px;
}

.container-bar #title{
	position: absolute;
	background: #1c1c1c;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	right: 57px;
}
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid #1c1c1c;
	border-right: 6px solid transparent;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	left: 100%;
	top: 8px;
}
#btn-social{
	display: none;
}

.social{
  display: flex
  ;
}
.subOptions{
  transition: all 500ms ease;
}
.subOptions:hover{
  scale: 1.05;
  transition: all 500ms ease;
  margin-left: 6px;
}

.fa-thumbs-up{
	cursor: pointer;
	transition: all 0.4s;
	font-size: 3rem;
	margin-bottom: 5px;
	display: inline-block;
	transform: scaleX(-1);
	color: #49b0e6;
}

.icon-social{
	transition: all 0.4s;
	transform: translateX(100%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
#btn-social:checked ~ .icon-social{
	transform: translateX(0%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
}
.idiomas{
  display: block;
  padding: 10px 10px;
}
.idiomas ul{
  width: 90px;
  min-width: 1px;
}
.idiomas ul a{
  display: flex;
  justify-content: center;
}

.card-img-alt{
  width: 40%;
}

.card-alt{
  display: flex;
  padding: 24px;
  flex-direction: row;
  box-shadow: 3px 3px 5px 0px #00000070;
  align-items: center;
  border-radius: 10px;
}

.productos-suceso{
  display: flex;
  position: relative;
  gap: 21px;
  flex-direction: column;
  align-items: center;
}
.successproducts{
  position: relative;
}
.pr-1{
  left: 10%;
}

.pr-2{
  right: 10%;
}


ul, ol {
  list-style:none;
}

.nav > li {
  float:left;
}
ul {
  padding-left: 0.4rem;
}
.nav{
  gap: 50px;
}
.nav li a {
  background-color: #ffffff00;
  font-weight: 600;
  color: #047ae3;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
  text-transform: capitalize;
}



.nav li ul {
  cursor: not-allowed;
  display: none;
  background: white;
  position: absolute;
  min-width: 140px;
  border-radius: 11px;
  transition: all 500ms ease;
  opacity: 0;
}

.nav li:hover > ul {
  opacity: 1;
  display:block;
  transition: all 500ms ease;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}
.card-big{
  padding: 15px;
}