#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.navcol-big{
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  display: block;
  place-items: start;
  min-width: 0;
  min-height: 0;
  flex-wrap: nowrap;
}

.navbar{
  border-bottom: 2px solid;
}
#navbar{
  width: 100vw;
}
.navbar-collapse{
  flex-basis: 100%;
  flex-grow: 0 !important;
  align-items: center;
}
.navbar-nav a{
  color: black;
  font-weight: 600;
}
.hero-information{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
}
footer{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.footer-down{
  margin-top: 5rem;
}
.text-container, .contact-container{
  display: flex;
  flex-direction: column;
}
.two{
  display: flex;
  gap: 15px;
}


.images-new{
  display: flex;
  gap: 5px;
  align-items: center;
}

.fileInput{
  font-weight: 700;
  padding: 10px;
}